{% if page.comments != false %}
  {% case site.comments_provider %}
    {% when 'netease_gentie' %}
      {% if site.netease_gentie_key %}
      <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
      <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
      <script>
      var cloudTieConfig = {
          url: "", 
          sourceId: "{{ page.url }}",
          productKey: "{{ site.netease_gentie_key }}",
          target: "cloud-tie-wrapper"
      };
      var yunManualLoad = true;
      Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
      </script>
    {% endif %}
  {% endcase %}
{% endif %}
