.socialitem {
    /*margin-left:2%;*/
    /*margin-top: 0px;
    margin-bottom: 0px;*/
    margin: auto auto; 
    list-style-type: none;
    /*margin-right: 5px;*/
    float: left;
    /*text-align: center;*/
    display: inline;
    width: 55px;
}
.socialitem a {
    width: 55px;
    text-align: center;
}

.excerpt {
    margin: 0;
    font-size: .9em;
    color: #888;
}

.excerptL {
    margin: 0;
    font-size: .9em;
    color: #888;
    text-align: center;
}

p {
    margin-bottom: 1.3em;
    line-height: 1.7em;
}

title {
    margin-top: 0;
    margin-bottom: .2em;
    font-size: 1.5em;
    line-height: 1.3em;
}

.by-line-time {
	display: block;
    margin: .7em 0 0 0;
    font-size: .9em;
    color: #c7c7c7;
}

.post-list__divider {
    width: 30%;
    margin: 2.0em 0 2.0em 0;
    border-top: 1px solid #DDDDDD;
}

.sidebar {
  padding-left: 3%;
  padding-right: 3%;
}

.content {
    padding-bottom: 1ex;
    padding-left: 5%;
    padding-right: 5%; 
}
